.tasksContent {
    margin-top: 1.5rem;
    height: auto;
    padding: 1rem;
    border:  1px solid var(--gray-400);
    border-radius: 8px;
    background: var(--gray-500);
}

.tasksContent + .tasksContent {
    margin-top: 1rem;
}

.tasksContent div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.tasksContent div input {
    /* padding: .25rem; */
    margin: 0;
    padding: 0;
    border-radius: 100%;
    background: transparent;
}

.tasksContent div label input {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    /* margin-right: 10px; */
    appearance: none;
    padding: 0px;
    background: var(--danger);
    border: 2px solid var(--gray-400);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    overflow: hidden;
}

.tasksContent div label input {
    flex-shrink: 0;
    position: relative;
    width: 20px;
    height: 20px;
    /* margin-right: 10px; */
    appearance: none;
    padding: 0px;
    background: transparent;
    border: 2px solid var(--blue-300);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    overflow: hidden;
}

.tasksContent div label input:checked {
    background: var(--purple-300);
    border: 2px solid var(--purple-300);
}

.tasksContent div button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
    padding: .25rem;
}

.tasksContent div button:hover {
    color: var(--danger);
    background: var(--gray-400);
    padding: .25rem;
}